.spotlight {
  --height: 50vh;
  --from-top: 10vh;
  --width-top: 40vw;
  --width-bottom: 70vw;
  --top-left-x: 40vw;
  --bottom-left-x: 15vw;

  --from-left-top: var(--top-left-x);
  --to-right-top: calc(var(--top-left-x) + var(--width-top));
  --from-left-bottom: var(--bottom-left-x);
  --to-right-bottom: calc(var(--bottom-left-x) + var(--width-bottom));
  --to-bottom: calc(var(--from-top) + var(--height));
  --color: #d6b24a;

  clip-path: polygon(
    var(--from-left-top) var(--from-top),
    var(--to-right-top) var(--from-top),
    var(--to-right-bottom) var(--to-bottom),
    var(--from-left-bottom) var(--to-bottom)
  );

  background: var(--color);

  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
}
