/*

https://stackoverflow.com/questions/31149144/how-to-use-clip-path-with-text-inside-the-div

*/

.spotlight {
  --initial-height: 10vh;
  --height: 90vh;
  --from-top: 10vh;
  --width-top: 40vw;
  --width-bottom: 70vw;
  --top-left-x: 40vw;
  --bottom-left-x: 15vw;

  --from-left-top: var(--top-left-x);
  --to-right-top: calc(var(--top-left-x) + var(--width-top));
  --from-left-bottom: var(--bottom-left-x);
  --to-right-bottom: calc(var(--bottom-left-x) + var(--width-bottom));
  --to-initial-bottom: calc(var(--from-top) + var(--initial-height));
  --to-bottom: calc(var(--from-top) + var(--height));

  clip-path: polygon(
    var(--from-left-top) var(--from-top),
    var(--to-right-top) var(--from-top),
    var(--to-right-bottom) var(--to-initial-bottom),
    var(--from-left-bottom) var(--to-initial-bottom)
  );

  background: var(--content-bg-color);

  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.spotlight.animation {
  animation: polygons 4s alternate;
  animation-fill-mode: forwards;
}

.spotlight.hide {
  opacity: 0;
}

@keyframes polygons {
  25% {
    clip-path: polygon(
      var(--from-left-top) var(--from-top),
      var(--to-right-top) var(--from-top),
      15% var(--to-bottom),
      0% var(--to-bottom)
    );
    background: pink;
  }

  50% {
    clip-path: polygon(
      var(--from-left-top) var(--from-top),
      var(--to-right-top) var(--from-top),
      100% var(--to-bottom),
      0% var(--to-bottom)
    );
    background: cornflowerblue;
  }

  100% {
    clip-path: polygon(
      0 var(--from-top),
      100% var(--from-top),
      100% var(--to-bottom),
      0% var(--to-bottom)
    );
  }
}
