* {
  padding: 0;
  margin: 0;
}

body {
  background: #182529;
  font-size: 14px;
  height: 100vh;
  font-family: 'Sawarabi Mincho', sans-serif;
  --content-bg-color: #d6b24a;
}

.container {
  height: 100%;
  /* color: white; */
}

.top-bar {
  height: 100px;
}

.menu {
  width: 100%;
  background: white;
}

.menu ul {
  width: 80%;
  height: 50px;

  margin: 0 auto;
  padding: 0 1em;

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  cursor: pointer;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li:hover {
  color: red;
  background-color: blue;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: calc(100% - 150px);
}

.under-construction {
  text-align: center;
  color: whitesmoke;
}

.under-construction img {
  height: 40vh;
}

.under-construction .under-construction--label {
  font-size: 1.2em;
}

.content {
  transition: opacity 3s ease-in-out;
  background-color: var(--content-bg-color);
}

.content.hide {
  opacity: 0;
}
